
.container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
justify-content: flex-start !important;
margin-top: 20px !important
    
}

.imagecontainer{
    width: 30%;
}
.descContainer{
    width: 70%;
    height: 200px;
    background-color: #f1f2f4;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    padding: 10px;


}
.url{
    color:'gray'
}
.title{
     font-weight: bold;
     color:black
}
.description{
    color:'gray'
}